{% extends 'fichas/base.html' %}

{% block content %}

<div class="container">
	<table>
		<thead>
			<tr>
				<th>Marca</th>
				<th>Modelo</th>
				<th>Dueño</th>
			</tr>
		</thead>
		{% for instance in object_list %}
		<tr>
			<td><a href='{{ instance.get_absolute_url }}'>{{ instance.marca }}</a></td>
			<td><a href='{{ instance.get_absolute_url }}'>{{ instance.modelo }}</a></td>
			<td><a href='{{ instance.id_cliente.get_absolute_url }}'>{{ instance.id_cliente }}</a></td>
		</tr>
		{% endfor %}
	</table>
</div>
<form action="./crear/">
    <input type="submit" value="Nuevo vehículo" />
</form>
{% endblock %}