<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Taller Mecánico Lüer</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="{% static 'fichas/js/jquery.min.js' %}"></script>
		<script src="{% static 'fichas/js/skel.min.js' %}"></script>
		<script src="{% static 'fichas/js/skel-layers.min.js' %}"></script>
		<script src="{% static 'fichas/js/init.js' %}"></script>

			<link rel="stylesheet" href="{% static 'fichas/css/skel.css' %}" />
			<link rel="stylesheet" href="{% static 'fichas/css/style.css' %}" />
			<link rel="stylesheet" href="{% static 'fichas/css/style-xlarge.css' %}" />

	</head>
	<body>
		{% include 'fichas/navbar.html' %}
		<section id="main" class="wrapper">
			<div class="container">
				{% block content %}
				se reemplaza
				{% endblock %}
			</div>
		</section>
	</body>
</html>