{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="card text-center px-5">
			<div class="card-body">
      			<div class="col">
					<h1>Contacto</h1>
					<p>Ricardo Lüer</p>
					<p>+56 9 90448854</p>
					<p>ricardo@luer.cl</p>
				</div>
			</div>
		</div>
		<div class="card w-60 text-center">
			<div class="card-body">
      			<div class="col">
					<h1>Dónde estamos</h1>
					<p>Calle Ochagavía 646, Puerto Montt</p>
					<img src="{% static 'pages/images/map.png' %}" class="img-fluid img-thumbnail" width="80%">
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div id="map"></div>
	<script>
		// Initialize and add the map
		function initMap() {
		  // The location of Uluru
		  var uluru = {lat: -25.344, lng: 131.036};
		  // The map, centered at Uluru
		  var map = new google.maps.Map(
		      document.getElementById('map'), {zoom: 4, center: uluru});
		  // The marker, positioned at Uluru
		  var marker = new google.maps.Marker({position: uluru, map: map});
		}
	</script>
    Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    
	<script async defer
    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4WuEpqCJFOkG5XiyM-mnTw_IW7dJsqZQ&callback=initMap">
    </script>
-->

{% endblock %}