{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 50%;  /* The width is the width of the web page */
       }

       .btn-sq-lg {
		  width: 150px !important;
		  height: 150px !important;
		  font-size:22px;
		}
</style>
<div class="jumbotron">
	<h1 class="display-4">Bienvenido al Servicio Automotriz "Lüer"</h1>
	<p class="lead">Mantención y reparación de su vehículo en Puerto Montt</p>
</div>
<center>
<div class=container>
<div class="row">
	<div class="col">        
        <div class="shadow-lg py-4 mb-5 bg-white rounded">  
        	<a href="horas" style="text-decoration: none">     	 
        	 	<img src="{% static 'pages/images/horas256.png' %}" class="img-fluid"><h2 class="text-center">Reserve su hora de atención</h2>
        	 </a>
        </div>
    </div>
    <div class="col">
        <div class="shadow-lg py-4 mb-5 bg-white rounded">
        	 <a href="revisar" style="text-decoration: none">
        	 	<img src="{% static 'pages/images/lupa256.png' %}" class="img-fluid"><h2 class="text-center">Revise el estado de su vehículo</h2>
        	 </a>
        </div>
    </div>
</div>
</div>
<center>
{% endblock %}