{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if not correcto %}
<center>
<div class="col d-flex justify-content-center">
	<div class="card mb-4">
		<div class="card-body">
			<h1><img src="{% static 'pages/images/lupa32.png' %}"> Buscar atención</h1>
			<form method="post"> {% csrf_token %}
				<center>
					<p><b>Número de atención:</b></p>
					<p><input type="number" pattern="[0-9]*" name="numero" min="0" required></p>
					<p><b>PIN:</b></p>
					<p><input type="number" pattern="[0-9]*" name="pin" placeholder="xxxx" min="0" max="9999" required oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "4"></p>
				</center>
				<p><input type="submit" class="btn-primaryn btn-primary btn-lg" value="Buscar"></p>
			</form>
		</div>
	</div>
</div>
<h2><font color="red">{{ error }}</font><h2>
</center>
{% endif %}

{% if correcto %}
<div class="row">
	<div class="column">
		<div class="card px-2 mr-4 mb-4">
			<div class="card-body">
				<h2>Atención</h2>
				<table>
					<tr>
						<td><b>Resumen:</b></td>
						<td>{{ object.observaciones }}</td>
					</tr>
					<tr>
						<td><b>Estado:</b></td>
						<td>{% if object.estado %} <font color="red">En proceso</font> {% else %} <font color="green">Listo</font> {% endif %}</td>
					</tr>
					<tr>
						<td class="pr-4"><b>Fecha de entrada:</b></td>
						<td>{{ object.fecha_entrada|date:"j F Y" }}</td>
					</tr>
					{% if object.hora_entrada %}
					<tr>
						<td><b>Hora de entrada:</b></td>
						<td>{{ object.hora_entrada|time:"h:i A" }}</td>
					</tr>
					{% endif %}
					{% if object.fecha_salida %}
					<tr>
						<td><b>Fecha de salida:</b></td>
						<td>{{ object.fecha_salida }}</td>
					</tr>
					{% endif %}
				</table>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card px-2 mr-4 mb-4">
			<div class="card-body">
				<h2>Vehículo</h2>
				<table>
					<tr>
						<td class="pr-4"><b>Modelo:</b></td>
						<td>{{ object.id_vehiculo.marca }} {{ object.id_vehiculo.modelo }}</td>
					</tr>
					<tr>
						<td><b>Patente:</b></td>
						<td>{{ object.id_vehiculo.patente }}</td>
					</tr>
					<tr>
						<td><b>Dueño:</b></td>
						<td>{{ object.id_vehiculo.id_cliente }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card px-2 mr-4 mb-4">
			<div class="card-body">
				<h2>Resumen</h2>
				<table>
					<tr>
						<td class="pr-4"><b>Valor de los repuestos:</b></td>
						<td>${{ valor_repuestos }}</td>
					</tr>
					<tr>
						<td><b>IVA:</b></td>
						<td>${{ iva }}</td>
					</tr>
					<tr>
						<td><b>Total:</b></td>
						<td>${{ total }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

{% if detalles_list %}
<div class="row">
	<div class="card px-4">
		<div class="card-body">
			<h2>Detalles</h2>
			<div class="row">
				{% for detalle in detalles_list %}
				<div class="card px-2 m-2" style="width: 18rem;">
					{% if detalle.image %}<a href="{{ detalle.image.url }}"><img src="{{ detalle.image.url }}" class="card-img-top"/></a>{% endif %}
					<div class="card-body">
		 				<h5 class="card-title">{{ detalle.descripcion|title }}</h5>
					</div>
					{% if detalle.repuesto %}
					<ul class="list-group list-group-flush">
		    			<li class="list-group-item"><b>Repuesto:</b> {{ detalle.repuesto }}</li>
		    			<li class="list-group-item"><b>Valor:</b> {{ detalle.valor_repuesto }}</li>
	  				</ul>
	  				{% endif %}
	  			</div>
	  			{% endfor %}
		  	</div>
		</div>
	</div>
</div>
{% else %}
<p>Esta atención no tiene detalles.</p>
{% endif %}

{% endif %}

{% endblock %}