{% extends 'fichas/base.html' %}

{% block content %}
<div class="row">
	<div class="column">
		<h2> Atención </h2>
		<p> <b>Vehículo:</b> {{ object.id_vehiculo }} de {{ object.id_vehiculo.id_cliente }} </p>
		<p> <b>Fecha de entrada:</b> {{ object.fecha_entrada }} </p>
		<p> <b>Fecha de salida:</b> {{ object.fecha_salida }} </p>
		<p> <b>Observaciones:</b> {{ object.observaciones }} </p>

		<p><input type="button" onclick="location.href='./editar/';" value="Editar" /> <input type="button" class="red" onclick="location.href='./eliminar/';" value="Eliminar" /> <input type="button" onclick="location.href='../../';" value="Volver al vehículo" /></p>
	</div>
	<div class="column">
		<h2> Detalles </h2>
		{% if detalles_list %}
			{% for instance in detalles_list %}
				<li>
					<p><a href='./detalles/{{ instance.id }}'>{{ instance.descripcion }}</a></p>
				</li>
			{% endfor %}
		{% else %}
			<p>Esta atención no tiene detalles.</p>
		{% endif %}
		<p><input type="button" onclick="location.href='./detalles/crear/';" value="Agregar detalle" /></p>
	</div>
</div>
{% endblock %}