{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <br/>
  <div class="row">
      <div class="col">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <a href="clientes" style="text-decoration: none">
            <img src="{% static 'pages/images/clientes.png' %}" class="img-fluid img-thumbnail"><h1 class="text-center">Clientes</h1>
          </a>
        </div>
    </div>
      <div class="col">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <a href="vehiculos" style="text-decoration: none">
          <img src="{% static 'pages/images/vehiculos.png' %}" class="img-fluid img-thumbnail"><h1 class="text-center">Vehículos</h1>
        </a>
      </div>
    </div>
      <div class="col">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <a href="atenciones" style="text-decoration: none">
            <img src="{% static 'pages/images/atenciones.png' %}" class="img-fluid img-thumbnail"><h1 class="text-center">Atenciones</h1>
          </a>
        </div>
      </div>
    </div>
    <div class="float-right">
      <a href="/">
        <input class="btn btn-secondary btn-lg" type="submit" value="Volver al inicio" />
      </a>
    </div>
</div>

{% endblock %}