{% extends 'fichas/base.html' %}
{% load static %}

{% block content %}
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<div class="row">
  <div class="column">
    <a href='./clientes/'><img src="{% static 'fichas/images/bokeh_car_lights_bg.jpg' %}" alt="Snow" style="width:100%">
    <h2><center>Clientes</a></center></h2>
  </div>
  <div class="column">
    <a href='./vehiculos/'><img src="{% static 'fichas/images/bokeh_car_lights_bg.jpg' %}" alt="Forest" style="width:100%">
    <h2><center>Vehículos</a></center></h2>
  </div>
  <div class="column">
    <a href='./atenciones/'><img src="{% static 'fichas/images/bokeh_car_lights_bg.jpg' %}" alt="Mountains" style="width:100%">
    <h2><center>Atenciones</a></center></h2>
  </div>
</div>





{% endblock %}