{% extends 'fichas/base.html' %}

{% block content %}

{{ object.list }}
<div class="lista">
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Teléfono</th>
				<th>Email</th>
			</tr>
		</thead>
		{% for instance in object_list %}
		<tr>
			<td><a href='{{ instance.get_absolute_url }}'>{{ instance.nombre }}</a></td>
			<td>{{ instance.telefono }}</td>
			<td>{{ instance.email }}</td>
		</tr>
		{% endfor %}
	</table>
<form action="./crear/">
    <input type="submit" value="Nuevo cliente" />
</form>
</div>
{% endblock %}