{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1><img src="{% static 'pages/images/clientes48.png' %}">Clientes</h1>
<form class="form-inline my-2 my-lg-0" action="search/">
	<input class="form-control mr-sm-2" type="search" name="q" placeholder="Buscar" aria-label="Search">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
<br/>
<table class="table table-striped table-hover">
	<thead class="thead-dark">
		<tr>
			<th>Nombre</th>
			<th>Teléfono</th>
			<th>Email</th>
		</tr>
	</thead>
	{% for instance in object_list %}
	<tr>
		<td><a href='{{ instance.get_absolute_url }}'>{{ instance.nombre }}</a></td>
		<td>{{ instance.telefono }}</td>
		<td>{{ instance.email }}</td>
	</tr>
	{% endfor %}
</table>
{% if user.is_staff %}
<form action="./crear/">
    <input class="btn btn-primary btn-lg" type="submit" value="Nuevo cliente" />
    <input type="button" class="btn btn-secondary btn-lg" onclick="location.href='../';" value="Volver a fichas" />
</form>
{% else %}
<input type="button" class="btn btn-secondary btn-lg" onclick="location.href='../';" value="Volver a fichas" />
{% endif %}


{% endblock %}