{% extends 'fichas/base.html' %}

{% block content %}

<h2> {{ object.nombre }} </h2>
<p> Rut: {{ object.rut }} </p>
<p> Teléfono: {{ object.telefono }} </p>
<p> Email: {{ object.email }} </p>

<p><input type="button" onclick="location.href='./editar/';" value="Editar" /> <input type="button" onclick="location.href='./eliminar/';" value="Eliminar" /> <input type="button" onclick="location.href='../';" value="Volver a la lista" /></p>

<h2>Vehículos</h2>
{% if vehiculos_list %}
	<ul>
	{% for instance in vehiculos_list %}
		<li>
			<a href='{{ instance.get_absolute_url }}'>{{ instance.marca }} {{ instance.modelo }}</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>Este cliente no tiene vehículos.</p>
{% endif %}
<p><input type="button" onclick="location.href='../../vehiculos/crear?cliente={{ object.id }}';" value="Agregar Vehículo" /></p>
{% endblock %}